gunicorn==20.0.4
djangorestframework==3.14.0
djoser==2.1.0
djangorestframework-simplejwt
django-filter==22.1
django-celery-beat==2.4.0
psycopg2==2.9.5
redis==4.3.4
python-dotenv==0.20.0
pytest-django==4.5.2